{% load staticfiles %}
<html>
    <head>
	<title>Lost and found items management</title>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Our CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>    
	<h1> Ici ce sera l'ecran principal de recherche, il nous faut une liste d'objets et une recherche</h1>
            {% block content %}
            {% endblock %}
    </body>
</html>
